[pull]
	rebase = true
[init]
	defaultBranch = main
[alias]
	autofixup = "!f() { \
		COMMIT_HASH=$(git log --pretty=oneline | fzf | awk '{print $1}'); \
		[ -z \"$COMMIT_HASH\" ] && return 1; \
		git commit --fixup $COMMIT_HASH && \
		GIT_SEQUENCE_EDITOR=: git rebase --autostash --autosquash -i $COMMIT_HASH^; \
	}; f"
[include]
	path = ~/.gitconfig.local
